.Loader {
  align-items: center;
  background-color: var(--secondary_color);

  bottom: 0;
  display: flex;

  justify-content: center;

  opacity: 1;
  perspective: 1000px;

  position: fixed;

  left: 0;
  right: 0;
  top: 0;

  transition: opacity 0.15s ease-in-out;

  z-index: 99;

  div {
    top: 50%;
    transform: translateY(-50%);

    background: linear-gradient(180deg, #ff2e00 0%, #fff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-size: 50px;
  }
}