.ToastsContainer {
  position: fixed;
  width: 100%;

  top: 20px;

  display: flex;
  justify-content: center;

  z-index: 200;

  pointer-events: none;
}

.Toasts {
  width: 100vw;

  display: flex;
  flex-direction: column;

  transition: all 1s ease-in-out;

  gap: 16px;
}

.Toast {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  gap: 10px;

  //padding: 6px;

  pointer-events: all;
  cursor: pointer;

  width: fit-content;

  margin: 0 auto;

  border-radius: 16px;

  opacity: 0;
  animation: fadeIn 0.29s ease-in-out forwards;

  a {
    color: #FFF;
    text-align: center;

    font-size: 14px;
    font-style: normal;

    line-height: 20px;
  }
}

.ToastHide {
  animation: fadeOut 0.29s ease-in-out forwards !important;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    transform: translateY(-20px);
  }
}

.ToastBox {
  border-radius: 16px;
  width: fit-content;
  background: radial-gradient(#3535355e, #5d5d5d73);
  margin: 0 auto;

  opacity: 0;
  animation: fadeIn 0.29s ease-in-out forwards;
}

.baseContainer {
  border: 1px solid rgb(255 255 255 / 15%);
  box-shadow: 0 4px 56px 9px #000;
  backdrop-filter: blur(8px);
  padding: 6px;
}

.baseContainer img {
  border-radius: 8px;
}

.baseText {
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.baseText a {
  font-size: 14px;
}

.baseText span {
  font-size: 12px;
}

.successContainer {
  border: 1px solid #5F5F5F;
  background: #2d8305;
  box-shadow: 0 4px 56px 9px #000;
  padding: 6px;
}

.errorContainer {
  border: 3px solid #420017;
  background: rgba(255, 0, 9, 0.76);
  box-shadow: 0 4px 56px 9px #000;
  padding: 6px;
}